# cache
__pycache__/
.mypy_cache/

# env
env/
.venv/
venv/

# logs
logs/

# data
data/

# models
models/

# tarballs
*.tar.gz
*.tgz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.zstd
*.tar.br
*.tar.z
*.tar.lz

.claude

CLAUDE.md

taxonomy/